<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766537746455-mvb3d1ufqi1tn3v85lfmtfvrid3hj33d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766537746455-mvb3d1ufqi1tn3v85lfmtfvrid3hj33d</string>
	<key>API_KEY</key>
	<string>AIzaSyCpov12uqcirKD6T0WeK_HefKlqIyJvC10</string>
	<key>GCM_SENDER_ID</key>
	<string>766537746455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pekakuApp</string>
	<key>PROJECT_ID</key>
	<string>mini-project-alta-sib3-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-project-alta-sib3-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766537746455:ios:1f44d4dabc1190081a7452</string>
</dict>
</plist>